body {
  background: #f5f5f5;
  font-family: sans-serif;
}


.join-container {
  max-width: 400px;
  margin: 120px auto;
  text-align: center;
}

.join-container input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}

.join-container button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
}


.meeting-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 12px;
  background: #111827;
  color: white;
  text-align: center;
}

.video-area {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

video {
  width: 70%;
  border-radius: 10px;
}


.avatar {
  color: white;
  text-align: center;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #2563eb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}


.control-bar {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 15px;
  background: #1f2937;
}

.control-bar button {
  padding: 10px 15px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.leave {
  background: red;
  color: white;
}


.reaction {
  position: absolute;
  top: 10px;
  left: 30px; 
  font-size: 30px;
  animation: floatUp 1s ease-in-out;
}

@keyframes floatUp {
  0% { transform: translateY(20px); opacity: 0 }
  30% { opacity: 1 }
  100% { transform: translateY(-40px); opacity: 0 }
}

body{
  margin: 0;
}